QN1)
Create a Pandas DataFrame from List of Dicts

In [1]:
import pandas as pd

# Initialise data to lists.
data = [{'NAME': 'DHIYANESH', 'AGE': '19', 'MARK': '75'},
		{'NAME':"ASHWATH", 'AGE': 20, 'MARK': 85}]

df = pd.DataFrame.from_records(data,index=['1', '2'])
print(df)

        NAME AGE MARK
1  DHIYANESH  19   75
2    ASHWATH  20   85

QN2)
Create a Pandas Series from array

In [3]:

import pandas as pd
import numpy as np

data = np.array(['D', 'H', 'I', 'Y', 'A'])


s = pd.Series(data)
print(s)

0    D
1    H
2    I
3    Y
4    A
dtype: object

QN3)
Create Pandas Series using NumPy functions

In [4]:

import pandas as pd
import numpy as np

ser1 = pd.Series(np.linspace(1, 40, 4))
print(ser1)

# series with numpy linspace()
ser2 = pd.Series(np.linspace(1, 100, 10))
print("\n", ser2)

0     1.0
1    14.0
2    27.0
3    40.0
dtype: float64

 0      1.0
1     12.0
2     23.0
3     34.0
4     45.0
5     56.0
6     67.0
7     78.0
8     89.0
9    100.0
dtype: float64

QN4)
 Merging DataFrames

In [12]:

import pandas as pd

# Create a DataFrame
data = {
    'Name': ['DHIYA', 'ASHWATH', 'ABISHEK', 'KRISHNA'],
    'Age': [24, 27, 22, 32],
    'Score': [85, 62, 88, 70]
}
df = pd.DataFrame(data)

print(df['Name'])

print(df.iloc[1:4])

0      DHIYA
1    ASHWATH
2    ABISHEK
3    KRISHNA
Name: Name, dtype: object
      Name  Age  Score
1  ASHWATH   27     62
2  ABISHEK   22     88
3  KRISHNA   32     70